body {
    background-image: url("https://upload.cdn.baselinker.com/products/7512/74287562_15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.blok {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    text-align: center;
    align-content: center;
    display: block;
    background-color: #ffffff83;
    width: 30vw;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #434234;
}